.body {
    min-height: 100%;
}

.body.light {
    background-color: var(--light-background);
    color: var(--light-text);
}

.body.dark {
    background-color: var(--dark-background);
    color: var(--dark-text);
}