@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
:root {
    --light-text: #111517;
    --light-text-info: rgb(100, 100, 100);
    --light-foreground: #fff;
    --light-background: #fff;
    --light-box-shadow: #ebe5e5;
    --light-primary: #022e4b;
    --dark-text: #fff;
    --dark-text-info: rgb(235, 235, 235);
    --dark-foreground: #2b3945;
    --dark-background: #202c37;
    --dark-box-shadow: #2c3235;
    --dark-primary: #2b3945;
}

/*
Light :
text-color: #111517; foreground: #fff; background: #fff; box-shadow: #ebe5e5;
Dark : text-color: #fff; foreground: #2b3945; background: #202c37; box-shadow:
#2c3235;
*/

html, body {
    height: 100%;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

#root{
    height: 100%;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.heading {
    font-weight: bold;
    font-size: 22px;
}

.sub-heading {
    font-weight: bold;
    font-size: 16px;
}

.info-text {
    font-size: 12px;
}

@media screen and (max-width: 576px) {
    .heading {
        font-weight: bold;
        font-size: 16px;
    }
    .sub-heading {
        font-weight: bold;
        font-size: 12px;
    }
}